@font-face {
  font-family: Inter;
  src: url(../assets/font/Inter-Bold.ttf);
}

h1 {
    margin: 0px;
    padding-top: 30px;
    padding-left: 65px;
    font-family: 'Inter';
    font-size: 45px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
  --font-family: Inter;
  --font-size-xl: 20px;
  --color-white: #fff;
}

.main-hero-container {
  height: 100vh;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.favorite-animals-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hayuf-container-content {
  font-size: 16px;
  width: 560px;
  height: 79px;
  mix-blend-mode: normal;
  color: #e5a7af;
  font-family: Inter;
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 112px;
}

.animals {
  color: #e09aa5;
}

.is-a-web {
  color: white;
}

.find-your-favorite {
  font-family: Inter;
  font-size: 64px;
  width: 552px;
  height: 153px;
  margin-bottom: 12px;
}

.input-textfield {
  border: 0;
  background-color: #f2f2f2;
  border-radius: 8px;
  width: 481px;
  height: 58px;
  margin-bottom: 30px;
  padding-left: 15px;
  font-size: 20px;
}

.search {
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  width: 72px;
  height: 29px;
}

.find-button {
  cursor: pointer;
  border-radius: 13px;
  background-color: #c662a8;
  transition-duration: 0.4s;
  width: 178px;
  height: 54px;
  margin-bottom: 25px;
}

.find-button:hover {
  background-color: #925151;
}

#hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../assets/heroBG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.results-section {
  background-color: #0d0a1b;
  overflow: hidden;
  color: white;
  font-family: Inter;
  justify-content: center;
}

.your-results-label {
  display: flex;
  justify-content: center;
  gap: 13px;
  align-items: center;
  margin-top: 10px;
  font-size: 50px;
  margin-top: 100px;
  
}

.results-span {
  color: #e09aa5;
}





/* new */
.animal-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.animal-name {
  display: flex;
  width: 500px;
  font-size: 32px;
  font-weight: bold;
}

.main-details {
  display: flex;
}

.card {
  display: flex;
  border: 1px solid #ccc;
  width: 850px;
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
}

.image {
  width: 300px;
  height: 195px;
  border: 1px solid #ffff;
  border-radius: 14px;
  margin-left: 1px;
}

.content {
  display: flex;
  width: 515px;
  flex-wrap: wrap;
  margin-left: 20px;
}

.details-1 {
  flex: 1;
  width: 300px;
  font-size: 16px;
}

.details-2 {
  flex: 1;
  width: 298px;
  font-size: 16px;
}

.label {
  font-weight: bold;
  margin-bottom: 1px;
}

div .value{
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 100;
}

.video-button {
  cursor: pointer;
  width: 100px;
  border-radius: 8px;
  background-color: #c662a8;
  transition-duration: 0.4s;
  height: 30px;
}

.video-button:hover {
  background-color: #925151;
}

.video-label {
  color: white;
}

/* .video-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #c662a8;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3;
}

.video-container .close{
  position: absolute;
  top: 10%;
  right: 25px;
  font-size: 20px;
  cursor: pointer;
}

.video-container video{
  width: 90%;
  max-width: 800px;
  transform: scale(0);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: all 0.3s;
}

.video-container .show{
  pointer-events: all;
  opacity: 1;
} */

/* Styles for the video pop-up */
.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for desired transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-frame {
  width: 560px;
  height: 315px;
  z-index: 1001;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  z-index: 1002;
}